// WiFi SSID
const char* ssid = "wifi_ssid";
// WiFi Pass
const char* password = "wifi_pass";
// MQTT Server
const char* mqttServer = "mqtt_server";
// MQTT User
const char* mqttUser = "mqtt_user";
// MQTT Pass
const char* mqttPassword = "mqtt_pass";
// Logging period in milliseconds
#define LOG_PERIOD 30000 
// Minute in milliseconds
#define MINUTE_PERIOD 60000
// Conversion factor - CPM to uSV/h
#define CONV_FACTOR 0.00812
// Own background
#define CPM_OFFSET 0.2
